<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>Navigation</div>
        <a class="navbar-brand d-flex align-items-center" href="http://www.bigcommerce.com">
            <%= image_tag("https://imgur.com/a/samQgr0", :alt => "Big Commerce Logo", :class => "logo") %>
            <h1 class="px-5">Austin Weather Data</h1>
        </a>
    </nav>
</header>