<article class="container">
    <section class="card my-2">
        <div class="card-body">
            <div id="chart-one"></div>
        </div>
    </section>

    <section class="card my-2">
        <div class="card-body">
            <div id="chart-two"></div>
        </div>
    </section>
</article>
