<section>
    <h1>Weather for Austin Texas</h1>
    <table id="weather-table-1">
        <tr>
            <th>id</th>
            <th>date_time</th>
            <th>temp_c</th>
            <th>temp_f</th>
            <th>weather_code</th>
            <th>icon</th>
            <th>desc</th>
            <th>windspeed_mph</th>
            <th>windspeed_kmph</th>
            <th>winddir_degree</th>
            <th>winddir_point</th>
            <th>precip_mm</th>
            <th>precip_in</th>
            <th>humidity</th>
            <th>visibility</th>
            <th>visibility_miles</th>
            <th>pressure</th>
            <th>pressure_in</th>
            <th>cloud_cover</th>
            <th>feels_like_c</th>
            <th>feels_like_f</th>
            <th>uv</th>
        </tr>
    </table> 
</section>

<section>
    <h1>3-Hour Highs and Lows</h1>
</section>

<section>
    <%# @res["data"]["current_condition"] %>
</section>

